header,
nav,
footer {
  background-color: dimgray;
}

.row-padding {
  padding: 20px;
  margin: 0px;
}

.search {
  background-image: url(/assets/images/buyit_splash.jpg);
  background-size: cover;
  background-color: black;
  opacity: 85%;
}

.search-padding {
  padding: 200px;
  margin: 0px;
}

.input-background,
.search-background,
.label-background {
  background-color: whitesmoke;
  padding: 10px;
  margin: 0px;
}