header,
nav,
footer {
  background-color: dimgray;
}

.row-padding {
  padding: 20px;
  margin: 0px;
}

.search {
  background-image: url(/assets/images/buyit_splash.jpg);
  background-size: cover;
  background-color: black;
  opacity: 85%;
}

.search-padding {
  padding: 100px 10vw;
  margin: 0px;
}

.search-background {
  display:inline-flex;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  margin: 0px;
  gap: 10px;
}

#search-input {
  max-width: 100%;
  margin: 0px;
}

.btn-color {
  background-color: dimgray;
}

.btn-color:hover {
  background-color: darkslateblue;
}