.row-padding {
  padding: 20px;
  margin: 0px;
}

.main-container {
    background-size: cover;
    background-color: whitesmoke;
    text-align: center;
  }
  
.main-header,
.main-nav,
.main-footer {
  background-color: darkolivegreen;
}

#main {
  background-image: url("../images/main_splash.jpg");
}


/* for small screens */
nav .brand-logo,
.web-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.50rem;
}

.main-padding-default {
  padding: 20px 10vw;
  margin: 0;
}

.btn-main,
.btn-main:link,
.btn-main:visited {
  color: white;
  background: #696969;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
}

.btn-main:hover,
.btn-main:active {
  background-color: darkolivegreen;
}

h6 {
  font-size: 1.25rem;
}

#logo {
    display:block;
    height: 15vh;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 75%;
  }

  
/* for medium screens */
@media only screen and (min-width: 600px) {
  nav .brand-logo,
  .web-title {
    font-size: 1.75rem;
  }

  .main-padding-default {
    padding: 35px 10vw;
    margin: 0;
  }

  .btn-main {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  #logo {
    height: 20vh;
    padding: 15px;
  }
}


/* for large screens */
@media only screen and (min-width: 992px) {
  nav .brand-logo,
  .web-title {
    font-size: 2rem;
  }
  
  .main-padding-default {
    padding: 50px 10vw;
    margin: 0;
  }
  
  .btn-main {
    font-size: 2.25rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  #logo {
    height: 45vh;
    padding: 20px;
  }
}