* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(57, 64, 71, 0.589);
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
}

header,
nav {
    height: 10%;
    min-width: 100vw;
    font-family: 'Fredericka the Great', cursive;
    background: linear-gradient(to bottom, rgb(50, 61, 78), transparent);
}

#webLogo {
    font-size: 36pt;
    color:lightgoldenrodyellow;
    justify-content: center;
    margin-top: 5%;
    padding: 50px;
}

.container {
    background-color: transparent;
    justify-content: center;
    text-align: center;
    height: 72%;
    width: 75%;
}

h2 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 36pt;
    color: lemonchiffon;
    background-color: transparent;
    margin: 20px 5%;
    padding: 15px 15px;
}

#separator-bar {
    height: 1px;
    border-top: 2px lemonchiffon solid;
    margin: 20px 20px;
    justify-content: center;
    text-align: center;
}

#content-text {
    font-family: 'Cabin Sketch', cursive;
    font-size: 24pt;
    color: lemonchiffon;
    background-color: transparent;
    margin: 5% 5%;
}

#makeit,
#buyit {
    font-family: 'Cabin Sketch', cursive;
    font-size: 20pt;
    color: lemonchiffon;
    border: 2px lemonchiffon solid;
    background-color: transparent;
    padding: 5px 10px;
    margin: 50px 10%;
}

footer {
    height: 15%;
    min-width: 100vw;
    margin: 5px 5px 0px;
    background: linear-gradient(to top, rgb(50, 61, 78), transparent);
}