* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(30, 42, 112, 0.678);
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: inline-flex;
}

body::after {
    content: "";
    background-color: whitesmoke;
    opacity: 0.3;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

header {
    height: 15%;
    min-width: 100vw;
    font-family: 'Fredericka the Great', cursive;
    background: linear-gradient(to bottom, rgb(43, 46, 73), transparent);
    text-align: center;
    z-index: 3;
}

#webLogoTab {
    font-size: 1.5rem;
    color:rgb(212, 212, 175);
    justify-content: center;
}

h1 {
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
}

header#webLogoTab {
    padding-top: 7%;
}

.container {
    height: 70%;
    width: 100%;
}

.left-right {
    height: 50%;
    position: inline-flex;
    z-index: 2;
    overflow-x: hidden;
    justify-content: center;
    text-align: center;
}

#left-makeit{
    left: 0;
    background-image: url("../images/makeit_splash.jpg");
    opacity: 0.7;
}

#right-buyit{
    right: 0;
    background-image: url("../images/buyit_splash.jpg");
    opacity: 0.7;
}

h3 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.75rem;
    color: lemonchiffon;
    margin: 10% 5% 0px;
    padding: 0px 15px;
    z-index: 2;
}

#separator-bar {
    height: 1px;
    border-top: 2px lemonchiffon solid;
    margin: 10px 20px 15px;
}

.LR-text {
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.5rem;
    color: lemonchiffon;
    background-color: transparent;
    margin: auto 5%;
}

#makeit,
#buyit {
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.5rem;
    color: lemonchiffon;
    border: 2px lemonchiffon solid;
    background-color: transparent;
    padding: 5px 10px;
    margin: 10% 10%;
    justify-content: center;
    text-align: center;
}

.home-footer {
    height: 15%;
    min-width: 100vw;
    background: linear-gradient(to top, rgb(43, 46, 73), transparent);
}

h5 {
    font-size: 1.1rem;
}

ul li,
#footer-p {
    font-size: 0.75rem;
}

.row {
    margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
    #webLogoTab {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    .LR-text {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.35rem;
    }
    ul li {
        font-size: 0.95rem;
    }
}

@media only screen and (min-width: 992px) {
    #webLogoTab {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
        margin: 3% 3% 0px;
        padding: 0px 15px;
    }
    .LR-text {
        font-size: 2.75rem;
    }
    h5 {
        font-size: 1.55rem;
    }
    ul li,
    #footer-p {
        font-size: 1.05rem;
    }
}