* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(93, 113, 133, 0.589);
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: absolute;
}

body::after {
    content: "";
    background-image: url("../images/homepage.jpg");
    opacity: 0.3;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

header,
nav {
    height: 15%;
    min-width: 100vw;
    font-family: 'Fredericka the Great', cursive;
    background: linear-gradient(to bottom, rgb(150, 98, 30), transparent);
    text-align: center;
    z-index: 3;
}

#webLogoTab {
    font-size: 36pt;
    color:lightgoldenrodyellow;
    justify-content: center;
}

h1 {
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
}

header#webLogoTab {
    padding-top: 7%;
}

.nav-footer {
    height: 0;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    background-color: linear-gradient(to bottom, rgb(150, 98, 30, 0.7));
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}

.nav-footer a {
    padding: 8px 8px 30px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.nav-footer a:hover{
    color: lightgoldenrodyellow;
}

.nav-footer .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 45px;
    margin-right: 50px;
    font-weight: bold;
}

.left-right {
    height: 85%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}

#left {
    left: 0;
    background-color:rgb(238, 165, 123, 0.3);
}

#right {
    right: 0;
    background-color:rgb(93, 100, 107, 0.3);
}

h3 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 36pt;
    color: lemonchiffon;
    margin: 175px 5% 0px;
    padding: 15px 15px;
}

#separator-bar {
    height: 1px;
    border-top: 2px lemonchiffon solid;
    margin: 20px 20px;
}

.LR-text {
    font-family: 'Cabin Sketch', cursive;
    font-size: 24pt;
    color: lemonchiffon;
    background-color: transparent;
    margin: 5% 5%;
}

#makeit,
#buyit {
    font-family: 'Cabin Sketch', cursive;
    font-size: 20pt;
    color: lemonchiffon;
    border: 2px lemonchiffon solid;
    background-color: transparent;
    padding: 5px 10px;
    margin: 50px 10%;
    justify-content: center;
    text-align: center;
}

.page-footer {
    height: 16%;
    min-width: 100vw;
    background: linear-gradient(to top, rgb(150, 98, 30), transparent);
}

.row {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

@media screen and (max-height: 450px) {
    .nav-footer {padding-top: 15px;}
    .nav-footer a {font-size: 18px}
}

@media (max-width: 768px) {
    #left {
        float: right;
    }
}

@media (min-width: 769px) {
    #right {
        float: right;
    }
}

.left-right::after {
    display: block;
    clear: both;
    content: "";
}