header,
nav,
footer {
  background-color: darkslateblue;
}

.row-padding {
  padding: 20px;
  margin: 0px;
}

h4, 
h6 {
  margin-top: 0;
}

.search-container {
  background-size: cover;
  background-color: whitesmoke;
}

.search-padding {
  padding: 20px 10vw;
  margin: 0px;
}

.search-background {
  display:inline-flex;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  margin: 0px;
  gap: 10px;
}

#search-input {
  max-width: 100%;
  margin: 0px;
}

.btn-color {
  background-color: dimgray;
}

.btn-color:hover,
.btn-color:active {
  background-color: darkslateblue;
}

.btn-color:visited {
  background-color: #26a69a;
}

#restaurants-container {
  background-color: whitesmoke;
}

#restaurant-card {
  width: 100%;
  height: 150px;
}

#image-container {
  width: 35%;
  height: 100%;
  overflow: hidden;
}

#restaurant-image {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

#content-container {
  padding: 10px;
}

#header-container {
  display: flex;
  clear: both;
  width: 100%;
}

#restaurant-name {
  display: block;
  float: left;
}

#favorite-btn {
  margin-right: 10px;
}
