header,
nav,
footer {
  background-color: darkslateblue;
}

.row-padding {
  padding: 20px;
  margin: 0px;
}

h4, 
h6 {
  margin-top: 0;
}

.search-container {
  /* background-image: url("/assets/images/buyit_splash.jpg"); */
  background-size: cover;
  background-color: whitesmoke;
}

.search-padding {
  padding: 200px 10vw;
  margin: 0;
}

.search-background {
  display:inline-flex;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  margin: 0;
  gap: 10px;
}

#search-input {
  max-width: 100%;
  margin: 0px;
}

.btn-color,
.btn-color:visited {
  background-color: dimgray;
}

.btn-color:hover,
.btn-color:active { 
  background-color: darkslateblue;
}

#restaurants-container,
#recipes-container,
#favorites-container {
  background-color: whitesmoke;
}

#restaurant-card,
#recipe-card {
  width: 100%;
  border-radius: 5px;
  height: 175px;
}

#image-container {
  max-width:40%;
  padding: 10px;
  overflow: hidden;
}

#restaurant-img,
#recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

#content-container {
  width: 100%;
  padding: 8px 10px;
}

#restaurant-name,
#recipe-name {
  margin-bottom: 5px;
}

#link-btn,
#favorite-btn {
  margin-right: 10px;
  margin-top: 5px;
}


/* for small screens */
@media screen and (max-width: 600px) {
  nav .brand-logo {
    font-size: 1.25rem;
  }

  .search-padding {
    padding: 20px 10vw;
    margin: 0;
  }
}

/* for medium screens */
@media screen and (max-width: 992px) {
  .search-padding {
    padding: 100px 10vw;
    margin: 0;
  }
}